body {
    background: #ecfffb;
}
a {
    color: #2d767f;
}

.App{
    max-width: 960px;
    margin: 0 auto; 
}

.App-header {
    margin: 30px 0;
}

.App-footer {
    text-align: center;
    margin: 30px 0px;
}

.Main {
    margin: 30px 0px;
}